*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------------------------ For Slider -------------------------------------------------------------- */
.z{
    height: 200px;
    width: 95%;
    margin: auto;
    /* position: absolute; */
    /* top: 100px; */
    border-radius: 20px 20px;
    background-image: url(./Lobo/d1.JPG);
    /* background-size: contain; */
    background-size: auto;
    /* background-size: cover; */
    background-size: 100% 100%;

    box-shadow: 12px 0px 0px 6px rgb(107, 103, 103);
    animation: slider 10s infinite linear;
    
}
@keyframes slider{
0%{background-image: url(./Lobo/d1.JPG);}
20%{background-image: url(./Lobo/d2.JPG);}
70%{background-image: url(./Lobo/d1.JPG);}
}
/*------------------------------------------------------ End Slider -------------------------------------------------------------- */







.card-img-top{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.col{
   
    border: 2px solid black;
}
.col-sm-6{
    /* height: 20px; */
    border: 1px solid rgb(250, 248, 248);
}
.col-sm{
    border: 1px solid blue;
    
}

.n1{
    height: 100px;
    width: 100px;
    background-color: rebeccapurple;
    display: inline-block;
}
.Navbar_2{
    height: 120px;
    width: 100%;
    background-color: blue;

}
img{
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 10px 30px;
}



/* ------------------------------( For Bottom part )--------------------------------------  */

*{
    box-sizing: border-box;
}
 .bot{
    height: 400px;
    width: 100%;
    background-color: blue;
    box-sizing: border-box;
    flex: content;
}
.b1{
    height: 250px;
    width: 21%;
    background-color: blue;
    margin: 20px;
    margin-top: 30px;
    display: inline-block;
}
h3{
    color: rgb(7, 7, 7);
    /* text-align: center; */
    margin-left: 30px;
    text-decoration: underline;
}
li{
    color: white;
    
}
a{
    color: white;
}
.bp11{
    background-color: blue;
    height: 80px;
    width: 100%;
}
.bp111{
    height: 50px;
    width: 200px;
    background-color: blue;
    margin-left: 550px;
    /* margin-top: 30px; */
}
#imgbp{
    margin-left: 6px;
}







